* {
	text-align: 	center;
	border:			0px;
	text-decoration:none;
	font-family: 	DejaVu Sans,Arial,Verdana;
	margin:			0;
	padding:		0;
	color:			green;
}

#wrapper {
	height:			100%;
	padding:		5px;
	background-color:white;
	
	-moz-box-sizing:border-box;
    -webkit-box-sizing: border-box;
    box-sizing:     border-box;
}

#backgroundImage {
	padding:		5px;
}

#backgroundImage, #welcomeImage {
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

#welcomeImage {
	height:			100%;
	width:			100%;
	float: 			left;
}

.infoBox {
	background-color:white;
	border:			1px solid green;
	font-size:		1.0em;
}

.smallInfoBox {
	float:			right;
}

.smallInfoBoxContainer {
	width:			94%;
	float:			right;
	padding-bottom:	5%;
}

.answer {
	float:			left;
	width:			39%;
	padding:		3%;
	margin-bottom:	5%;
}

.answer.left {
	margin-right:	4%;
}

.smallInfoBox, .answer {
	background-color:white;
	border:			1px solid green;
	font-size:		1em;
}


.infoBox, .smallInfoBox {
	padding:		1em;
}

.infoButtonContainer {
}

.infoButton, submit {
	background-color: green;
	color:			white;
	font-weight: 	bold;
	padding:		0.5em;
	font-size:		20px;
}

.gameBox {
	display: 		none;
}

.gameBox.infoBox {
	height:			69%;
}

.warning {
	color:			red;
}

input {
	border:			1px solid green;
	color:			green;
}

#score {
	float:			left;
}

#remainingTime {
	float: 			right;
}

#scoreBox {
	padding:		3px;
	background-color: white;
}

#scoreBox img {
	height:			20px;
}

#scoreBox .spacer {
 	height:			20px;
}

#questionTitle {
	font-size: 		32px;
	color: 			green;
	font-weight: 	bold;
	padding-top: 	5px;
}

#top {
	height: 		50px;
	border-bottom: 	1px solid green;
}

#logo {
	 height: 		50px;
	 float: 		left;
}


select#language {
	background-color: white;
	border:			1px solid green;
	font-size:		20px;
}

#teamId {
	border:			1px solid green;
	font-size:		20px;
}